/* HEADER */ 
/* -------------------- */ 
header {
    height: 80px;
    width: 100%;
    background-color: var(--color-prime);
    position: fixed;
    z-index: 1;
}

header>nav {
    margin: auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>h1>span {
    color: red;
}

header>nav ul {
    display: flex;
    list-style: none;
    font-size: 24px;
    gap: 20px;
} 

/* HOME */
/* ------------------ */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .heading {
    margin-top: 120px;
    text-align: center;
}

.home .heading>h1 {
    font-size: 100px;
}
.home .heading>h1>span {
    color: red;
}
.home .heading p {
    margin-top: 20px;
    font-size: 24px;
}

.home .heading .get_it {
    margin-top: 50px;
}

.home .heading .get_it img {
    width: 250px;
    padding: 20px;
}

.home .img{
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.home .img img {
    width: 100%;
    height: 100%;
    animation: HomeImage 5s linear infinite;
}

@keyframes HomeImage {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
}

.home::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: -1;
}

/* ABOUT PRODUCT */
/* -------------------------- */
.about-product .box {
    margin: auto;
    max-width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #999;
}

.about-product .box .content {
    flex: 1;
    color: #333;
}

.about-product .box .content h1 {
    margin-bottom: 40px;
}

.about-product .box>.item {
    text-align: center;
    flex: 1;
    overflow: hidden;
}

.about-product .box>.item img {
    height: 400px;
}

.about-product .box>.item img.animateX {
    animation: animateX 8s linear infinite;
}
@keyframes animateX {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(-400px);
    }
    75% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}

/* FEATURE */
/* ------------------------ */
.feature .heading h1 {
    margin-top: 100px;
    text-align: center;
    color: #333;
}
.feature .box {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature .box .item {
    height: 500px;
    flex: 1;
    margin: 10px;
}

.feature .box .item .img {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature .box .item .img img {
    width: 200px;
    object-fit: contain;
}

.feature .box .item .content {
    color: #333;
    text-align: center;
}

.feature .box .item .content p {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

/* FOOTER */
/* ----------------------- */
footer {
    height: 60vh;
    background-image: url(./assets/img/footer.jpg);
}

footer>.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

footer>.container .logo {
    flex: 3;
}

footer>.container .info {
    flex: 7;
    box-shadow: -1px 0 0 #999;
    padding-left: 20px;
}

.info .contact * {
    margin-block: 20px;
}

.download .get_it img {
    width: 150px;
    margin-right: 10px;
}

.download>* {
    margin-top: 20px;
}

@media (max-width: 740px) {

    header, footer {
        padding: 10px;
    }

    header>nav ul li a {
        font-size: 12px;
    }

    /* HOME--------------------- */
    .home .heading>h1 {
        font-size: 40px;
    }

    .home .img img {
        object-fit: cover;
    }

    /* ABOUT PRODUCT------------- */
    .about-product .box {
        padding: 20px;
        margin-top: 20px;
        gap: 40px;
        flex-direction: column;
        height: auto;
        border: none;
    }

    .about-product .box>.item {
        width: 100%;
    }

    /* FEATURE-------------------- */
    .feature .box {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .feature .box .item {
        margin-block: 40px;
        padding: 10px;
    }

    .feature .box .item .content {
        margin-top: 40px;
    }
}
